{% extends base %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 id="name", class="mx-auto my-4">Статьи</h1>
        <div class="col-12">
            <a href="/add_article">
                <button type="button" class="btn btn-success art-btn" style="background-color: #D8C3A5;">
                    Добавить статью
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd"
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </a>
        </div>
        {% for a in articles %}
        <div class="card-body", style="background-color: #8590AA;">
            <a href="/articles/{{ a.id }}">
                <h1>{{ a.title }}</h1></a>
            <h4>{{ a.author }}</h4>
            <p>{{ a.text }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}