
{% extends "base_login.html" %}
{% block content %}
<div class="fadeIn first">
    <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" id="icon"
         alt="User Icon"/>
</div>

<!-- Login Form -->
<form method="post">
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин(Почта или Телефон)">
    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
    {% for e in errors %}
    <div class="alert alert-danger m-3" role="alert">
        {{ e }}
    </div>
    {% endfor %}
    <input type="submit" class="fadeIn fourth" value="Войти">
</form>

<!-- Remind Passowrd -->
<div id="formFooter">
    <a class="underlineHover" href="/registration">Регистрация</a>
</div>
{% endblock %}
