{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 id="name", class="mx-auto my-4">Песни</h1>
        {% for s in songs %}
        <div class="col-12">
            <div class="card" style="width: 18rem;">

                <div class="container" style="background-color: #8590AA;">
                    <a href="/songs/{{ s.id }}">
                        <h1>{{ s.title }}</h1>
                    </a>
                    <h4>{{ s.author }}</h4>
                    <p>{{ s.text.split("<br><br>")[0]|safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}